<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make user!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="background_color1 body">
    <div class="main_container  background_color2 border_round_5">
        <div class="container col-1 flex middle-top mar-top-10 ">
            {% for event in events %}
                <p>{{ event.summary }}</p> <a href="/delete/{{ event.id }}">Delete</a>
            {% endfor %}
        </div>
    </div>
</body>
</html>